http_interactions:
- request:
    method: GET
    uri: https://data.cms.gov/data-api/v1/dataset/f6f6505c-e8b0-4d57-b258-e2b94133aaf2/data/stats?size=5000&offset=0&filter%5B0%5D%5Bcondition%5D%5Bpath%5D=CITY&filter%5B0%5D%5Bcondition%5D%5Boperator%5D=&filter%5B0%5D%5Bcondition%5D%5Bvalue%5D=Atlanta&filter%5B1%5D%5Bcondition%5D%5Bpath%5D=STATE&filter%5B1%5D%5Bcondition%5D%5Boperator%5D=&filter%5B1%5D%5Bcondition%5D%5Bvalue%5D=GA&filter%5B2%5D%5Bcondition%5D%5Bpath%5D=SUBGROUP+-+ACUTE+CARE&filter%5B2%5D%5Bcondition%5D%5Boperator%5D=&filter%5B2%5D%5Bcondition%5D%5Bvalue%5D=N&filter%5B3%5D%5Bcondition%5D%5Bpath%5D=SUBGROUP+-+PSYCHIATRIC&filter%5B3%5D%5Bcondition%5D%5Boperator%5D=&filter%5B3%5D%5Bcondition%5D%5Bvalue%5D=Y
  response:
    status: 200
    headers:
      akamai-grn: 0.3bfe3117.1779928214.3523a2d1
      content-language: en
      content-type: application/json
      etag: '"1779812857-gzip"'
      last-modified: Tue, 26 May 2026 16:27:37 GMT
      x-age: '40281'
      x-ah-environment: prod
      x-akamai-original-url: 08ff4c8072129a48657f3e6043a1820662e60637
      x-consumer-id: 07eafadc-1bac-4607-8441-20c35fa46f17
      x-drupal-dynamic-cache: HIT
      x-generator: Drupal 10 (https://www.drupal.org)
    body:
      string: '{"found_rows":2,"total_rows":9175}'
  recorded_at: 2026-05-28 00:30:15
[...]
- request:
    method: GET
    uri: https://data.cms.gov/data-api/v1/dataset/f6f6505c-e8b0-4d57-b258-e2b94133aaf2/data?size=5000&offset=0&filter%5B0%5D%5Bcondition%5D%5Bpath%5D=CITY&filter%5B0%5D%5Bcondition%5D%5Boperator%5D=&filter%5B0%5D%5Bcondition%5D%5Bvalue%5D=Atlanta&filter%5B1%5D%5Bcondition%5D%5Bpath%5D=STATE&filter%5B1%5D%5Bcondition%5D%5Boperator%5D=&filter%5B1%5D%5Bcondition%5D%5Bvalue%5D=GA&filter%5B2%5D%5Bcondition%5D%5Bpath%5D=SUBGROUP+-+ACUTE+CARE&filter%5B2%5D%5Bcondition%5D%5Boperator%5D=&filter%5B2%5D%5Bcondition%5D%5Bvalue%5D=N&filter%5B3%5D%5Bcondition%5D%5Bpath%5D=SUBGROUP+-+PSYCHIATRIC&filter%5B3%5D%5Bcondition%5D%5Boperator%5D=&filter%5B3%5D%5Bcondition%5D%5Bvalue%5D=Y
  response:
    status: 200
    headers:
      akamai-grn: 0.3bfe3117.1779928217.3523a91f
      content-language: en
      content-type: application/json
      etag: '"1779812857-gzip"'
      last-modified: Tue, 26 May 2026 16:27:37 GMT
      x-age: '1295'
      x-ah-environment: prod
      x-akamai-original-url: 08ff4c8072129a48657f3e6043a1820662e60637
      x-consumer-id: 07eafadc-1bac-4607-8441-20c35fa46f17
      x-drupal-dynamic-cache: HIT
      x-generator: Drupal 10 (https://www.drupal.org)
    body:
      string: '[{"ENROLLMENT ID":"O20100521000547","ENROLLMENT STATE":"GA","PROVIDER
        TYPE CODE":"00-09","PROVIDER TYPE TEXT":"PART A PROVIDER - HOSPITAL","NPI":"1023095429","MULTIPLE
        NPI FLAG":"Y","CCN":"114032","ASSOCIATE ID":"4486684784","ORGANIZATION NAME":"UHS
        OF ANCHOR L.P.","DOING BUSINESS AS NAME":"ANCHOR HOSPITAL","INCORPORATION
        DATE":"2000-06-02","INCORPORATION STATE":"DE","ORGANIZATION TYPE STRUCTURE":"PARTNERSHIP","ORGANIZATION
        OTHER TYPE TEXT":"","PROPRIETARY NONPROFIT":"P","ADDRESS LINE 1":"5454 YORKTOWNE
        DRIVE","ADDRESS LINE 2":"ANCHOR HOSPITAL","CITY":"ATLANTA","STATE":"GA","ZIP
        CODE":"303495317","PRACTICE LOCATION TYPE":"OTHER HOSPITAL PRACTICE LOCATION","LOCATION
        OTHER TYPE TEXT":"","SUBGROUP - GENERAL":"N","SUBGROUP - ACUTE CARE":"N","SUBGROUP
        - ALCOHOL DRUG":"N","SUBGROUP - CHILDRENS":"N","SUBGROUP - LONG-TERM":"N","SUBGROUP
        - PSYCHIATRIC":"Y","SUBGROUP - REHABILITATION":"N","SUBGROUP - SHORT-TERM":"N","SUBGROUP
        - SWING-BED APPROVED":"N","SUBGROUP - PSYCHIATRIC UNIT":"N","SUBGROUP - REHABILITATION
        UNIT":"N","[...]
